/* Reset */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

*:focus {
  outline: 0 !important
}

a {
  text-decoration: none !important;
  color: unset;
}

.backgroundLine {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(to top left, #e394a3 50%, #8dd6a6 50%);
}

button{
    border: none;
    background: none;
    color: unset;
    cursor: pointer;
}

.active {
  text-decoration: underline !important;
  text-decoration-color: white !important;
}

.nav a:hover {
  text-decoration: none;
  color: red !important;
}

input {
  border: none;
  background: none;
  color: unset;
}

input:focus {
  outline: 1px solid  #171C24 !important;
  border: none;
}

input[type="date"]::before { 
  content: attr(data-placeholder);
  width: 100%;
}

input[type="date"]:focus::before,
input[type="date"]:valid::before { display: none }

/* Navbar/Header */

#header img {
  width: 40px;
  height: 40px;

}

#header a{
  text-decoration: none;
  color: white;
}

#header a:hover{
  background-color: unset !important;
  color: unset !important;
}

#header {
  background-color: #171C24;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  padding: 15px;
  font-size: 25px;
  border-bottom: 1px solid turquoise;
}

#header .auth-btn {
  height: 100%;
  display: flex;
  align-self: center;

}

#header .auth-btn button{
  padding: 5px 5px;
  font-size: 15px;
  
}



.navBarLinks {
  padding: 5px 5px;
  font-size: 15px;
  color: white;
  text-decoration: none !important;
}

/* Home */

#carousel-wrapper {
  max-width: 900px;
  max-height: 300px;
  margin: auto;
}


/* Footer */

.footer-div {
  /* height: 35px; */

}

/* Search */






/* Host */

.host-container {
  max-width: 600px;
  margin: auto;
  padding: 40px;
  box-shadow: 0 0 2px;
  margin-top: 30px;
}

.host-images-container {
  max-width: 550px;
  margin: auto;
  height: 400px;
  /* box-shadow: 0 0 2px; */
  padding: 20px
}


.main-image-container {
  margin: auto;
  max-width: 500px;
  height: 300px;
  padding-right: -5px;
  padding-left: -5px;
}

.main-image-container img{
  width: 100%;
  height: 100%;
  border: 3px solid  #1eb3ce;
}

.small-image-container {
  height: 70px;
  width: 70px;
  display: inline-flex;
  border: 3px solid  #171C24;
  padding: 1px;
  justify-content: space-between;
}

.small-image-container img{
  width: 100%;
  height: 100%;
}

.main-image-container-rent {
  margin: auto;
  max-width: 400px;
  height: 240px;
  padding-right: -5px;
  padding-left: -5px;
}



.main-image-container-rent img{
  width: 100%;
  height: 100%;
  border: 3px solid  #000000;
}

.small-image-container-rent {
  height: 70px;
  width: 70px;
  display: inline-flex;
  border: 3px solid  #171C24;
  padding: 1px;
  
}

.small-image-container-rent img{
  display: "inline";
  width: 100%;
  height: 100%;
  
}
/* Register */

.register-login-wrapper {
  max-width: 600px;
  margin: auto;
  padding: 40px;
  box-shadow: 0px 10px 30px -5px rgba(0, 0, 0, 0.2);
  margin-top: 30px;
}

.register-login-form {
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 30px;

}
.register-title {
  padding: 20px;
}

.register-login-div {
  max-width: 800px;
  margin: auto;
  box-shadow: 0 0 2px;
  
}
/* Rent */

#rent-wrapper{
  max-width: 800px;
  margin: auto;
  padding: 40px;
  text-align: center;
  border-radius: 3%;
  margin-top: 10px;
  box-shadow: 0px 10px 30px -5px rgba(0, 0, 0, 0.2);
  /* background-color: #90c7f3; */
  font-size: 20px;
 
}

.renter-option-div {
  color: rgb(61, 42, 42);
  
}


/* Splash */

.splash-div {
  max-width: 1200px;
}

/* Renter Home */

.renter-home-card {
  max-width: 600px;
  margin: auto;
  padding: 30px;
  box-shadow: 0 0 2px;
  margin-top: 30px;
}

.center-div {
  max-width: 900px;
  margin: auto;
  padding: 30px;
  /* margin-top: 10px; */
}

.rent-chart-page-div {
  box-shadow: 0px 10px 30px -5px rgba(0, 0, 0, 0.2);
  border-radius: 2%;
}

/* update */

.option-update-wrapper{
  border-radius: 2%;
  max-width: 600px;
  margin: auto;
  padding: 30px;
  box-shadow: 0px 10px 30px -5px rgba(0, 0, 0, 0.2);
  margin-top: 15px;
}

.option-update-wrapper a {
  
  text-decoration: none !important;
  color: #171C24
}

.nav-link a {
  color: black !important;
}

.pillactive {

}

  /* loading */

  .loader {
    font-size: 10px;
    margin: 50px auto;
    text-indent: -9999em;
    width: 11em;
    height: 11em;
    border-radius: 50%;
    background: #1ca2ce;
    background: -moz-linear-gradient(left, #1ca2ce 10%, rgba(28,162,206, 0) 42%);
    background: -webkit-linear-gradient(left, #1ca2ce 10%, rgba(28,162,206, 0) 42%);
    background: -o-linear-gradient(left, #1ca2ce 10%, rgba(28,162,206, 0) 42%);
    background: -ms-linear-gradient(left, #1ca2ce 10%, rgba(28,162,206, 0) 42%);
    background: linear-gradient(to right, #1ca2ce 10%, rgba(28,162,206, 0) 42%);
    position: relative;
    -webkit-animation: load3 1.4s infinite linear;
    animation: load3 1.4s infinite linear;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
  }
  .loader:before {
    width: 50%;
    height: 50%;
    background: #1ca2ce;
    border-radius: 100% 0 0 0;
    position: absolute;
    top: 0;
    left: 0;
    content: '';
  }
  .loader:after {
    background: #1ca2ce;
    width: 75%;
    height: 75%;
    border-radius: 50%;
    content: '';
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
  @-webkit-keyframes load3 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @keyframes load3 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }

@media (max-width: 500px) {
  .host-container {
    margin: 0;
    padding: 10px;
    font-size: 12px;
  }
  .splash-div div{
    margin: auto;
  }

  .register-login-div, .register-login-wrapper {
    padding: 0 !important;
    margin: 0 !important;
    box-shadow: 0 0 0;
  }



}